@import './navbar/desktop';
@import './navbar/mobile';

nav {
    justify-content: space-between;
    padding: 0 4em;
    border-bottom: 1px solid var(--very-light-pink);
}

.menu-icon {
    display: none;
}

.nav-logo {
    width: 15em;
    margin-right: 1em;
}

.navbar- {
    &left ul {
        margin-left: 1.2em;
    }

    &left ul,
    &right ul {
        list-style: none;
        align-items: center;
        height: 6em;

        li a {
            color: var(--very-light-pink);
            border: 1px solid var(--white);
            margin: 0 0.15em;
            padding: 8px;
            border-radius: 8px;
            font-size: var(--sm);
            font-weight: 500;

            &:hover,
            &.active {
                border: 1px solid var(--hospital-green);
                color: var(--hospital-green);
            }
        }
    }

    &email {
        color: var(--dark);
        font-size: var(--sm);
        margin-right: 12px;
    }

    &shopping-cart {
        position: relative;

        div {
            width: var(--md);
            height: var(--md);
            background-color: var(--hospital-green);
            border-radius: 50%;
            font-size: var(--sm);
            font-weight: bold;
            position: absolute;
            top: -6px;
            right: -3px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 910px) {
    nav {
        padding: 0 2.4em;
    }

    .menu-icon {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }
}
