.btn {
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;

    &-primary {
        background-color: var(--hospital-green);
        border: none;
        color: var(--white);

        &:hover {
            background-color: var(--btn-primary-hover);
        }
    }

    &-secondary {
        background-color: var(--white);
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);

        @media (max-width: 640px) {
            margin-top: 70px;
        }
    }
}
