.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin: 0 auto;
}

.email-image img {
    width: 80px;
}

.resend {
    font-size: var(--sm);
    margin: 0 auto;
}

.resend span {
    color: var(--very-light-pink);
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
}
