.d-flx {
    display: flex;
}

.d-grd {
    display: grid;
}

.f-col {
    flex-direction: column;
}

.p-i-c {
    place-items: center;
}

.m-0-a {
    margin: 0 auto;
}

.tr-bc-3s {
    transition-duration: 0.3s;
    transition-property: background-color;
}
